In [1]:
5+9

14

In [2]:
import numpy as np
import pandas as pd
from random import randint

In [5]:
ratings = {
    "col1": [randint(0,5) for i in range(5)],
    "col2": [randint(0,5) for i in range(5)],
    "col3": [randint(0,5) for i in range(5)],
    "col4": [randint(0,5) for i in range(5)],
    "col5": [randint(0,5) for i in range(5)],
    "col6": [randint(0,5) for i in range(5)],
    "col7": [randint(0,5) for i in range(5)],
    "col8": [randint(0,5) for i in range(5)],
}

In [6]:
ratings

{'col1': [2, 5, 5, 3, 0],
 'col2': [5, 5, 4, 1, 2],
 'col3': [3, 4, 2, 4, 3],
 'col4': [2, 5, 3, 5, 2],
 'col5': [4, 2, 4, 1, 1],
 'col6': [2, 0, 3, 4, 5],
 'col7': [3, 5, 3, 2, 1],
 'col8': [1, 4, 2, 2, 4]}

In [7]:
df = pd.DataFrame(ratings)
df

   col1  col2  col3  col4  col5  col6  col7  col8
0     2     5     3     2     4     2     3     1
1     5     5     4     5     2     0     5     4
2     5     4     2     3     4     3     3     2
3     3     1     4     5     1     4     2     2
4     0     2     3     2     1     5     1     4