In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#import seaborn as sns
%matplotlib inline

In [17]:
ratings = pd.read_csv('/Users/deborahgemellaro/Downloads/ml-20m/ratings.csv')
movies = pd.read_csv('/Users/deborahgemellaro/Downloads/ml-20m/movies.csv')
tags = pd.read_csv('/Users/deborahgemellaro/Downloads/ml-20m/tags.csv')

In [18]:
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [19]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [20]:
tags.head()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

In [21]:
print(ratings.shape, movies.shape, tags.shape)

(20000263, 4) (27278, 3) (465564, 4)

In [23]:
df = ratings.join(movies, on='movieId', lsuffix='_call', rsuffix='_other')

In [28]:
df.head(3)

,userId,movieId_call,rating,timestamp,movieId_other,title,genres
0,1,2,3.5,1112486027,3.0,Grumpier Old Men (1995),Comedy|Romance
1,1,29,3.5,1112484676,30.0,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama
2,1,32,3.5,1112484819,33.0,Wings of Courage (1995),Adventure|Romance|IMAX

In [30]:
(df
    .filter(['userId', 'movieId_call', 'movieId_other', 'rating', 'title', 'genres'])
    .sort_values(by='movieId_call'))

,userId,movieId_call,movieId_other,rating,title,genres
14162882,97809,1,2.0,3.0,Jumanji (1995),Adventure|Children|Fantasy
15347420,106140,1,2.0,5.0,Jumanji (1995),Adventure|Children|Fantasy
15347355,106138,1,2.0,3.0,Jumanji (1995),Adventure|Children|Fantasy
10170195,70354,1,2.0,4.5,Jumanji (1995),Adventure|Children|Fantasy
10170255,70355,1,2.0,3.5,Jumanji (1995),Adventure|Children|Fantasy
10170322,70356,1,2.0,3.0,Jumanji (1995),Adventure|Children|Fantasy
4603483,31554,1,2.0,4.0,Jumanji (1995),Adventure|Children|Fantasy
17017605,117716,1,2.0,4.0,Jumanji (1995),Adventure|Children|Fantasy
10170447,70358,1,2.0,3.0,Jumanji (1995),Adventure|Children|Fantasy
10170760,70360,1,2.0,5.0,Jumanji (1995),Adventure|Children|Fantasy
14305176,98815,1,2.0,5.0,Jumanji (1995),Adventure|Children|Fantasy
15346942,106137,1,2.0,3.5,Jumanji (1995),Adventure|Children|Fantasy
14305227,98816,1,2.0,4.0,Jumanji (1995),Adventure|Children|Fantasy
2807754,18998,1,2.0,3.5,Jumanji (1995),Adventure|Children|Fantasy
12372317,85495,1,2.0,4.0,Jumanji (1995),Adventure|Children|Fantasy
5931113,40850,1,2.0,1.5,Jumanji (1995),Adventure|Children|Fantasy
12372129,85494,1,2.0,5.0,Jumanji (1995),Adventure|Children|Fantasy
4603700,31556,1,2.0,4.5,Jumanji (1995),Adventure|Children|Fantasy
10171314,70366,1,2.0,3.0,Jumanji (1995),Adventure|Children|Fantasy
1805337,12176,1,2.0,4.0,Jumanji (1995),Adventure|Children|Fantasy
4603781,31557,1,2.0,5.0,Jumanji (1995),Adventure|Children|Fantasy
15346802,106134,1,2.0,5.0,Jumanji (1995),Adventure|Children|Fantasy
12373041,85497,1,2.0,3.0,Jumanji (1995),Adventure|Children|Fantasy
14305055,98813,1,2.0,4.0,Jumanji (1995),Adventure|Children|Fantasy
10168975,70350,1,2.0,3.0,Jumanji (1995),Adventure|Children|Fantasy
12373347,85500,1,2.0,5.0,Jumanji (1995),Adventure|Children|Fantasy
2807328,18996,1,2.0,2.0,Jumanji (1995),Adventure|Children|Fantasy
4602820,31550,1,2.0,3.0,Jumanji (1995),Adventure|Children|Fantasy
5932703,40856,1,2.0,4.0,Jumanji (1995),Adventure|Children|Fantasy
10166716,70342,1,2.0,4.0,Jumanji (1995),Adventure|Children|Fantasy
...,...,...,...,...,...,...
11528476,79570,131148,NaN,4.0,NaN,NaN
11528477,79570,131150,NaN,4.0,NaN,NaN
10836926,74937,131152,NaN,0.5,NaN,NaN
11528478,79570,131154,NaN,3.5,NaN,NaN
11528479,79570,131156,NaN,4.0,NaN,NaN
11528480,79570,131158,NaN,4.0,NaN,NaN
19937981,138068,131158,NaN,4.0,NaN,NaN
11528481,79570,131160,NaN,4.0,NaN,NaN
6133363,42229,131162,NaN,2.0,NaN,NaN
7921789,54560,131164,NaN,4.0,NaN,NaN
7921790,54560,131166,NaN,4.0,NaN,NaN
9267513,64060,131168,NaN,3.5,NaN,NaN
13870862,95841,131170,NaN,3.5,NaN,NaN
18539277,128309,131172,NaN,1.0,NaN,NaN
15803090,109286,131174,NaN,3.5,NaN,NaN
15803091,109286,131176,NaN,4.5,NaN,NaN
16938391,117144,131180,NaN,2.5,NaN,NaN
9117176,63046,131231,NaN,3.5,NaN,NaN
19466243,134701,131237,NaN,3.0,NaN,NaN
11528482,79570,131239,NaN,4.0,NaN,NaN
11528483,79570,131241,NaN,4.0,NaN,NaN
11528484,79570,131243,NaN,4.0,NaN,NaN
11528485,79570,131248,NaN,4.0,NaN,NaN
11528486,79570,131250,NaN,4.0,NaN,NaN
11528487,79570,131252,NaN,4.0,NaN,NaN
11528488,79570,131254,NaN,4.0,NaN,NaN
11528489,79570,131256,NaN,4.0,NaN,NaN
4243883,28906,131258,NaN,2.5,NaN,NaN
9459645,65409,131260,NaN,3.0,NaN,NaN
19227262,133047,131262,NaN,4.0,NaN,NaN